
#b-bottom {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    max-width: 700px;

}

@media (prefers-color-scheme: dark) {
    #b-bottom {
        background-color: black;

    }
}
@media (prefers-color-scheme: light) {
    #b-bottom {
        background-color: white;
    }
}

#class-check {
    font-size: 11px;
    color: grey;

}

ion-list {
    // margin-bottom: 70px;

    max-width: 700px;
    margin: auto auto 70px auto;
}