<ion-header>
  <ion-toolbar>
    <ion-title>downloadform</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<div #myCanvas  id="downloadPdf" data-html2canvas-ignore="true">

  <ion-grid>
    <ion-row>
  
      <ion-col >
        ion-col 
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
    <ion-row>
  
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    
    </ion-row>
  
  </ion-grid>
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  
    <p>
      dste
    </p>
  
    <h2>
      dsd
    </h2>
</div>


</ion-content>
