<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>User Submitted</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <div id="list-card">

    <ion-card *ngFor="let form of forms" mode="ios">
      <ion-card-header>
        <ion-card-subtitle>Name: {{form.user}}</ion-card-subtitle>
    
        <!-- <ion-card-subtitle>Document: </ion-card-subtitle> -->
      </ion-card-header>
      
      <ion-card-content style="font-size: 12px;">
        Date submitted: {{form.time.seconds*1000 | date: 'd MMM YYYY, HH:mm'}}
      </ion-card-content>

      <ion-button (click)="downloadForm(form)" id="download" fill="clear">
        <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
    </ion-button>
    </ion-card>

  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
