<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Startup 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Startup</ion-title>
    </ion-toolbar>
  </ion-header>


<div id="buttons">
  <ion-button expand="block" fill="outline" [routerLink]="'/form'">
    User
  </ion-button>
  
  <ion-button expand="block">
    Admin
  </ion-button>

</div>



</ion-content>
