
#b-bottom {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    max-width: 700px;
    z-index: 999;
}



#class-check {
    font-size: 11px;
    color: grey;

}

ion-list {
    // margin-bottom: 70px;

    max-width: 700px;
    margin: auto auto 70px auto;
}

#fill-up {
    color: #c95050;
    margin-left: 20px;
    font-size: 14px;
    // padding: 5px;
    padding-bottom: 10px;
}

#class-header {
    margin-left: 3px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 11px;
    color: grey;
}

#brief-header {
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 11px;
    color: grey;
    padding-inline-start: 20px;
}

#double-button {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
    max-width: 700px;
    display: flex;

    ion-button {
        width: 100%;
    }
}